body {
    font-size: 70%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80); 
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-size: 100% 100%;
}

h1 {
    color: blue;
    font-size: 2.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}

h2 {
    color: blue;
    font-size: 1.7em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: darkmagenta;
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;
}

a, a:visited {
    color: rgb(0, 139, 86);
}

a:hover {
    color: darkturquoise;
}

hr {
    padding: 0;
    margin: 1.5em 1.5em 0.75em 0.5em;
}

.contentWrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 3.0em;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.clear {
    clear: both;
    font-size: 1%;
}

header {
    padding: 2.5em 0 0.5em;
    margin: 0 0 2.0em;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;
    letter-spacing: -0.025;
    margin: 0;
    
}

header h2 {
    font-weight: 300;
    font-size: 1.8em;
    margin: -0.4em 1.0em 1.0em 3.6em;
    letter-spacing: 0.05em;
}

nav#navBar {
    float: right;
    margin: -1.5em 0 0 0;
    padding: 0.35em;
    background-color: darkslateblue;
    position: relative;
    text-align: center;
    margin: 5px, 2px;
}

nav#navBar li {
    padding: 0 0.25em 0 0.2em;
    display: inline;
    list-style-type: none;
}

nav#navBar ul li a, nav#navBar ul li a:visited {
    color: deeppink;
    text-decoration: none;
    display: inline-block;
    height: 1.3em;
    padding: 0.7em;
    margin: -1.5em 0 0 0;
    font-size: 0.8em;
}

nav#navBar ul li.right

nav#navBar ul li.icon {
    vertical-align: middle;
    margin: 0 0 0 1.0em;
}

.icon {
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    text-decoration: none;
}

nav#selections {
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0;
}

nav#selections ul {
    margin: 0;
    padding: 0;
    list-style: none
}

nav#selections li {
    display: inline-block;
    margin: 0;
}

nav#selections li a, nav li a:visited {
    text-decoration: none;
    color: rgb(0, 139, 86);
    padding: 0.3em 0.6em;
}

nav#selections li a:hover {
    color: darkturquoise;
}

section div.images {
    float: left;
    position: relative;
    width: 250px;
    margin: 2.5em 0.5em 2.5em 0.5em;
    padding: 1.0em;
    border: deeppink solid 1px;
    border-radius: 0.6em;
}

section div.images img.yarnType {
    width: 100%;
}

footer {
    background-color:darkslategray;
    height: 25px;
    font-size: 1.2em;
    color: rgb(173, 79, 250);
    text-align: center;
    padding: 1.5em 2.0em;
}

footer ul#footer {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
    
    


    
    

    



